body{
    font-family: SolaimanLipi, Arial, Helvetica, sans-serif !important;
}
#top .date p{
    font-size: 15px ;
}
#top .social-link:hover {
    background-color: rgb(88, 139, 206);
}
#top .logo{
    width: 340px;
}
/* img-hover */
.img-hover {
    transition: transform 0.5s;
    cursor: pointer;
}

.img-hover:hover img {
    transform: scale(1.2);
    overflow: hidden;
}
.link{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.link:hover{
    color: blue;
}